html,
#root,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
}

.workspace {
  grid-column: 1 / 2;
  height: 100%;
  margin: 0;
  padding: 0;
}

.svg {
  height: 99vh;
  width: 100%;
}

.piece {
  position: absolute;
  height: 50px;
  width: 60px;

  justify-content: center;
  align-items: center;

  background-size: 50px, 60px;
  background-repeat: no-repeat;
  background-position: center;

  cursor: grab;
}

.output {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 3px solid white;
  transform: rotate(45deg);
  cursor: pointer;
}
.input {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 3px solid white;
  border-radius: 200px;
  cursor: pointer;
}

.line {
  position: absolute;
}

.node {
  height: 10px;
  width: 10px;
  border-radius: 200px;
  border: 1px solid white;
}

.node:hover {
  background-color: rgb(104, 0, 0);
}

.pane {
  grid-column: 2/3;
  height: 100%;
  border-left: 1px solid black;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
}

.options {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.choice {
  cursor: grab;
  border: 1px solid rgba(0, 0, 0, 0);
}

.choice:hover {
  border: 1px solid black;
}

.title {
  border: 1px solid black;
  text-align: center;
  font-size: 2rem;
}

.main-title {
  font-size: 3rem;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}
